.title{
    margin: 0px;
    padding: 0px;
    display: flex;
    background: #506e8b;
    width: 100%;
}

.logobtn{    
    background: url("garena.jpg");
    background-size: cover;
    width: 150px;
    height: 55px;    
    margin-left: 200px;
    margin-top: 10px;
    border: 0px;
}

.btnstyle{
    margin-left: 700px;
    margin-top: 10px;
}

.selectbtn{
    width: 80px;
    height: 50px;
    border: 0px;
    background-color:#506e8b; 
    font-size: 20px;
}

.main{
    background: url("main.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}